[Unit]
Description=Ollie Assistant
After=network.target mosquitto.service
Requires=mosquitto.service

[Service]
User=ollie
Group=ollie
ExecStart=/usr/bin/ollie
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
